.bottone{
    color: #fff;
    background-color: rgba(214, 99, 4, 0.795);;
    border-color: rgba(214, 99, 4, 0.795);;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 20px;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
}

.bottone:hover {
    background-color: #ff9900;
    border-color: #ff9900;
}