.containerCostruzione {
    display: flex;
    height: 100%;
    place-content: center;
    place-items: center;
}

.boxCostruzione {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding-top: 5em;
    padding-bottom: 7em;
    width: 100%;
    height: fit-content;
    align-self: center;
}

.logoCostruzione {
    width: 80px;
}

.titoloInCostruzione {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 1.5em;
}
